body{
    background-color: #CDE3E8;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    width: 1350px;
    height: 770px;
    border-radius: 15px;
    background-color: white;
}

